{{ define "main" }}
<!-- Contact Section - Home Page -->
<main id="main">
  <div data-aos="fade" class="page-title">
    <div class="heading">
      <div class="container">
        <div class="row d-flex justify-content-center text-center">
          <div class="col-lg-8">
            <h1>About us</h1>
            <p class="mb-0">
              Odio et unde deleniti. Deserunt numquam exercitationem. Officiis
              quo odio sint voluptas consequatur ut a odio voluptatem. Sit
              dolorum debitis veritatis natus dolores. Quasi ratione sint. Sit
              quaerat ipsum dolorem.
            </p>
          </div>
        </div>
      </div>
    </div>
    <nav class="breadcrumbs">
      <div class="container">
        <ol>
          <li><a href="/">Home</a></li>
          <li class="current">About us</li>
        </ol>
      </div>
    </nav>
  </div>
  <div class="row justify-content-center g-5 mt-1">
    <div class="col-md-8">
      <article class="blog-post">
        <h2 class="display-5 link-body-emphasis mb-1">About us</h2>
        <p>
          This is some additional paragraph placeholder content. It has been
          written to fill the available space and show how a longer snippet of
          text affects the surrounding content. We'll repeat it often to keep
          the demonstration flowing, so be on the lookout for this exact same
          string of text.
        </p>
        <blockquote>
          <p>
            Longer quote goes here, maybe with some
            <strong>emphasized text</strong> in the middle of it.
          </p>
        </blockquote>
        <p>
          This is some additional paragraph placeholder content. It has been
          written to fill the available space and show how a longer snippet of
          text affects the surrounding content. We'll repeat it often to keep
          the demonstration flowing, so be on the lookout for this exact same
          string of text.
        </p>
        <p>
          This is some additional paragraph placeholder content. It's a slightly
          shorter version of the other highly repetitive body text used
          throughout.
        </p>
      </article>
    </div>
  </div>
</main>
{{ end }}
